@import "./../../../style/index.scss";

.form {
  margin: $form-margin-top auto;
  @include flex-column;
  padding: 2rem;

  width: 60rem;
}

.formControl {
  @include flex-row;
}

.formControlArea {
  @include flex-column;
  width: 100%;
}

