:root {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

$form-margin-top: 1rem;

$font-link-color: #37474f;
$font-hover-color: #607d8b;
$bg-link-hover: #b0bec5;

@mixin flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $font-link-color;
    background-color: #ffffff;
  }
  a:hover {
    color: $font-hover-color;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  text-decoration: none;
  color: $font-link-color;
}
